{% extends 'crudoperation/base.html' %}

{% block content %}


<!-- <div class="m-4 p-4"  > -->
  <!-- <div class="shadow-sm p-3 mb-5 bg-body rounded">Small shadow</div> -->
  <span class="shadow-sm pb-3 mb-2 mt-5 btn btn-secondary me-3 d-flex" style="height: 50px;"> <h3> Add your information </h3></span>
  <a href="/crudmysql/alldata2">
    <button class="btn btn-danger ms-0">Click here</button>
    <!-- <h4 class="ms-3 text">Click here</h4>  -->
  </a>
<!-- </div> -->
<!-- <div class="m-4 p-4"> -->
    <span class="shadow-sm pb-3 mb-2 mt-5 btn btn-secondary me-3 d-flex" style="height: 50px;"> <h3> Retrieve all data </h3></span>
    <a href="/crudmysql/retrievedata4">
      <button class="btn btn-warning ms-0">Click here</button>
      <!-- <h4 class="ms-3">Click here</h4>  -->
    </a>
<!-- </div> -->

{% endblock content %}