{% extends 'crudoperation/base.html' %}

{% block content %}

<!-- <div class="d-flex align-items-center justify-content-center "> -->

 <!-- database data -->
    <div class=" border rounded solid text-light bg-light shadow-lg p-3 mt-3">
        <h4 class="text-dark text " > <div class="form-group mt-3 mb-2">
          <!-- <input type="submit" value="Add" class="btn btn-sm btn-dark"> -->
          <a href="/crudpostgres/home" class="btn btn-sm btn-dark">Back to previous page</a>
      </div></h4>
        <div>
            <table class="table table-striped table-hover">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First_name</th>
                        <th scope="col">Last_name</th>
                        <th scope="col">city</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in alldata %}
                            <tr>
                              <th scope="row">{{data.id}}</th>
                              <td>{{data.first_name}}</td>
                              <td>{{data.last_name}}</td>
                              <td>{{data.city}}</td>
                              <td class="d-flex align-items-center justify-content">
                                <form action="{% url 'updatedata' data.id %}" >
                                  <button class="btn btn-warning ">Edit </button>
                                </form>
                                <div class="row ps-2">
                                    <form action="{% url 'deletedata4' data.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-danger ">
                                        
                                    </form>
                                </div>
                              </td>
                            </tr>
                        {% endfor %}
                      
                    </tbody>
                  </table>
              </table>
        <!-- </div> -->
    <!-- </div> -->

{% endblock content %}